body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 40px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.bold {
    font-weight: 800;
}

#navbar {
    width: 80vw;
    margin: 0 auto;
}

.navlist {
    width: 80vw;
    margin: 0;
    padding: 0;
    text-align: center;
    background: ;
    position: relative;
    z-index: 1;
}

.navlist:before {
    content: "";
    display: block;
    width: 80vw;
    height: 38px;
    background: #FFF;
    opacity: 0.2;
    position: absolute;
    z-index: -1
}

.navlist li {
    display: inline
}

.navlist a {
    display: inline-block;
    padding: 10px;
    color: #FFF;
}

.container {
    width: 100%;
    position: absolute;
    top: 0;
}

#heading {
    height: 60vh;
    background-image: url("/assets/notebook-1280538_1920.jpg");
    background-size: 100%;
    z-index: ;
    overflow: hidden;   
}

.heading-overlay {
    height: 60vh;
    width: 100%;
    position: absolute;
    z-index: 
}

.heading-overlay:before {
    content: "";
    display: block;
    height: 60vh;
    width: 100%;
    background: #0C1939;
    opacity: 0.8;
    position: absolute;
}

.heading {
    margin: 100px 100px 20px 100px;
    height: 10vh;
    color: lime;
    position: relative;
}

.heading-name {
    display: block;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    white-space: nowrap;
    width: 30em;
    animation: type 2s steps(60, end); 
    z-index: 2
}

.heading-name:nth-child(2) {
    font-size: 24px;
    animation: type2 4s steps(60, end); 
}

.heading-description {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: lime;
    width: 390px;
    margin: 20px 100px;
    position: relative;
}

#heading .description {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    margin: 0
}

#heading .description:nth-child(1) {
    animation: type3 5s steps(60, end);
}

#heading .description:nth-child(2) {
    animation: type4 8s steps(60, end);
}

#heading .description:nth-child(3) {
    animation: type5 10.5s steps(60, end);
}

#heading .description:nth-child(4) {
    animation: type6 12.5s steps(60, end);
}

#heading .description:nth-child(5) {
    animation: type7 13.5s steps(60, end);
}

.cursor {
    display: inline-block;
    top: 2px;
    width: 6px;
    height: 13px;
    background: lime;
    animation: blink 0.3s infinite
}
@keyframes type { 
  from { width: 0; } 
} 

@keyframes type2 {
    0% { width: 0; }
    40% { width:0 }
    100% { width: 100; }  
}

@keyframes type3 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    100% { width: 100; }
}

@keyframes type4 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    60% { width: 0 }
    100% { width: 100; }  
}

@keyframes type5 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 }
    100% { width: 100; }  
}

@keyframes type6 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 }
    80% { width: 0 }
    100% { width: 100; }  
}

@keyframes type7 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 }
    80% { width: 0 }
    90% { width:0 }
    100%{ width: 100; }  
}

@keyframes blink {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


.heading-buttons {
    width: 390px;
    margin: 0 100px;
}

.button {
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    border: 1px solid #FFF;
    font-size: 12px;
    color: #FFF;
    position: relative;
}

.red {
    background: #DC2F33;
    border: 1px solid #DC2F33;
    color: #FFF;
}

#about {
    height: 40vh;
    background: #FFF;
    margin-bottom: 30px;
    z-index: 1;
    overflow: hidden
}

.about-description {
    margin: 50px 100px;
}

.profile-image {
    float: left;
    margin-right: 100px
}

.yosef {
    width: 200px;
}

.description-text {
    padding-top: 10px
}

#about .button {
    border: 1px solid #000;
    font-size: 12px;
    color: #000;
}

#social {
    height: 20vh;
    position: relative;
    background-image: url("assets/technology-1283624_1920.jpg");
    background-size: 100%
}

.social-overlay {
    height: 20vh;
    width: 100%;
    position: relative;
   
}

.social-overlay:before {
    content: "";
    display: block;
    height: 20vh;
    width: 100%;
    background: #0C1939;
    opacity: 0.7
}

