body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #0C1939;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h4 {
    font-size: 24px;
    color: #FFF;
    margin: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.bold {
    font-weight: 800;
}

.green {
    font-family: 'Roboto Mono', monospace;
    color: lime
}

.grey {
  color: white;
}

.yop-wrapper {
  position: relative;
  height: 100%;
}

main {
  height: 100%;
}

.animated {
    width: 20em;
    animation: type 1s steps(60, end);
}

.animated2 {
    width: 30em;
    animation: type2 1.5s steps(60, end);
}

.animated3 {
    width: 30em;
    animation: type3 2s steps(60, end);
}

#navbar {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}

.navlist {
    width: 80vw;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: right;
    position: absolute;
    z-index: 1;
}

/* .navlist:before {
    content: "";
    display: block;
    width: 80vw;
    height: 38px;
    background: #888;
    opacity: 0.2;
    position: absolute;
    z-index: -1
} */

.navlist li {
    display: inline
}

.navlist a {
    display: inline-block;
    padding: 10px;
    color: #3d86f1;
    font-size: 0.9em
}

.container {
    width: 100%;
}

#heading {
    width: 100%;
    height: 100vh;
  /*  background-image: url("assets/notebook-1280538_1920.jpg"); */
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.heading-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.heading-overlay:before {
    content: "";
    display: block;
    height: 100vh;
    width: 100%;
    background: #0C1939;
    opacity: 1;
    position: absolute;
}

.heading-wrapper {
  width: 40em;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 150px 0;

}

.heading {
    width: 80vw;
    margin: 100px auto 0;
    color: lime;
    position: relative;
}

.heading-name {
    display: block;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    white-space: nowrap;
    width: 40em;
    max-width: 40em;
    animation: type 1s steps(60, end);
    z-index: 2
}

.heading-name:nth-child(2) {
    font-size: 24px;
    animation: type2 0.8s steps(60, end);
}

.heading-description {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: lime;
    width: 80vw;
    padding: 0;
    margin: 20px auto;
    position: relative;
}

#heading .description {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    margin: 0
}

#heading .description:nth-child(1) {
    animation: type3 1.5s steps(60, end);
}

#heading .description:nth-child(2) {
    animation: type4 0.8s steps(60, end);
}

#heading .description:nth-child(3) {
    animation: type5 1.3s steps(60, end);
}

#heading .description:nth-child(4) {
    animation: type6 1s steps(60, end);
}

#heading .description:nth-child(5) {
    animation: type7 1.5s steps(60, end);
}

.cursor {
    display: inline-block;
    top: 2px;
    width: 6px;
    height: 13px;
    background: lime;
    animation: blink 0.3s infinite
}

@keyframes type {
  from { width: 0; }
}

@keyframes type2 {
    0% { width: 0; }
  /*  40% { width:0 } */
    100% { width: 100; }
}

@keyframes type3 {
    0% { width: 0; }
  /*  40% { width:0 }
    50% { width: 0; } */
    100% { width: 100; }
}

@keyframes type4 {
    0% { width: 0; }
    40% { width:0 }
  /*  50% { width: 0; }
    60% { width: 0 } */
    100% { width: 100; }
}

@keyframes type5 {
    0% { width: 0; }
    40% { width:0 }
  /*  50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 } */
    100% { width: 100; }
}

@keyframes type6 {
    0% { width: 0; }
    40% { width:0 }
  /*  50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 }
    80% { width: 0 } */
    100% { width: 100; }
}

@keyframes type7 {
    0% { width: 0; }
    40% { width:0 }
  /*  50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 }
    80% { width: 0 }
    90% { width:0 } */
    100%{ width: 100; }
}

@keyframes blink {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.heading-buttons {
    width: 100%;
    margin: 50px auto;
    animation: fadeIn 1s ease
}

.button {
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    border: 1px solid #FFF;
    font-size: 12px;
    color: #FFF;
    position: relative;
}

.blue {
    background: transparent;
    border: 1px solid #3d86f1;
    color: #3d86f1;
}

#about {
    width: 80vw;
    height: 50vh;
    color: #FFF;
  /*  background: #0C1939; */
    margin: 50px auto;
    z-index: 1;
    overflow: hidden
}

.about-description {
    height: auto;
}

.description {
    height: auto;
    position: relative;
}

.profile-image {
    float: left;
    margin-right: 100px;
}

.profile-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 210px;
  height: 210px;
  border: 1px solid #3d86f1;
  border-radius: 100%;
  z-index: -1
}

.yosef {
    width: 200px;
}

.description-text {
    padding-top: 10px
}

#about .button {
    font-size: 12px;
    color: #3d86f1;
    border: 1px solid #3d86f1;
}

#portfolio {
    width: 100%;
    height: 50vh;
    margin: 50px 0;
  /*  background-image: url("assets/code-2620118_1920.jpg"); */
    background-size: cover;
    overflow: hidden;
    position: relative
}

.portfolio-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.portfolio-overlay:before {
    content: "";
    display: block;
    background: #0C1939;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
}

.portfolio-skills span,
.services-info h4 span,
.social-overlay h4 span {
    height: 20px;
    width: 10px;
    margin: 0 5px;
    position: relative;
    top: 1px;
}

.skill-wrapper,
.services-wrapper {
    padding: 100px 0;
}

.portfolio-skills {
    width: 80vw;
    margin: 20px auto;
    color: #FFF;
    font-size: 4em;
    position: relative;
}

.portfolio-skills li {
    margin: 20px;
    display: inline;
}

.skill-list,
.skill-description {
    padding: 0;
    text-align: center;
}

.skill-description {
    font-size: 0.4em;

}

.hidden {
    visibility: hidden;
}

.slide {
    animation: slidedown 2s ease;
}

@keyframes slidedown {
    0% {opacity: 0; transform: translateY(-50px) }
    100% {opacity: 1; transform: translateY(0)}
}

#services {
    width: 100%;
    height: 50vh;
    background: #0C1939;
}

.services-info {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
}

.services-info li {
    width: 300px;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.service-icon {
    font-size: 48px;
}

.services-list {
    text-align: center;
    padding: 0;
}

.project-box {
  width: 300px;
  height: 300px;
  border: 1px solid #3d86f1;
}

.service-title {
    color: #3d86f1;
    font-weight: bolder;
}

#social {
    height: 50vh;
    margin: 50px 0;
/*    background-image: url("assets/technology-1283624_1920.jpg"); */
    background-size: cover
}

#social .button {
  display: block;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.social-overlay {
    height: 500px;
    width: 100%;
    position: absolute;
}

.social-overlay:before {
    content: "";
    display: block;
    height: 500px;
    width: 100%;
    background: #0C1939;
    opacity: 1;
    position: absolute;
}

.social-heading {
    width: 80vw;
    margin: 20px auto;
}

.social-heading {
    position: relative;
}

.social-heading .description {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px 0;
    font-family: 'Roboto Mono', monospace;
    color: lime;
}

.social-heading .description:nth-child(2) {
    margin: 50px 0 0;
}

.social-heading .description:nth-child(3) {
    margin: 0;
}

.message-box {
    position: relative;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 450px;
    height: 200px;
    background: #000;
    border-color: #000;
    color: lime;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    resize: none;
}

.social-links li a {
    position: relative;
    color: #FFF;
}

.social-links li {
    font-size: 24px;
    margin-right: 10px;
    display: inline;
}

.social-list {
    padding: 0;
    margin: 50px;
    text-align: center;
}

.social-links {
    width: 80vw;
    margin: 20px auto 0;
    position: relative;
}

footer {
    background:  #0C1939;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.author p {
    color: #FFF;
    text-align: center;
    font-size: 14px;
}
