body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h4 {
    font-size: 24px;
    color: #FFF;
    margin: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.bold {
    font-weight: 800;
}

.green {
    font-family: 'Roboto Mono', monospace;
    color: lime
}

.animated {
    width: 20em;
    animation: type 1s steps(60, end);
}

#navbar {
    width: 80vw;
    margin: 0 auto;
}

.navlist {
    width: 80vw;
    margin: 0;
    padding: 0;
    text-align: center;
    background: ;
    position: relative;
    z-index: 1;
}

.navlist:before {
    content: "";
    display: block;
    width: 80vw;
    height: 38px;
    background: #888;
    opacity: 0.2;
    position: absolute;
    z-index: -1
}

.navlist li {
    display: inline
}

.navlist a {
    display: inline-block;
    padding: 10px;
    color: #FFF;
}

.container {
    width: 100%;
    position: absolute;
    top: 0;
}

#heading {
    width: 100%;
    height: 60vh;
    background-image: url("/assets/notebook-1280538_1920.jpg");
    background-size: 100%;
    z-index: ;
    overflow: hidden;   
}

.heading-overlay {
    height: 60vh;
    width: 100%;
    position: absolute;
}

.heading-overlay:before {
    content: "";
    display: block;
    height: 60vh;
    width: 100%;
    background: #0C1939;
    opacity: 0.8;
    position: absolute;
}

.heading {
    width: 80vw;
    margin: 100px auto 0;
    height: 10vh;
    color: lime;
    position: relative;
}

.heading-name {
    display: block;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    white-space: nowrap;
    width: 30em;
    animation: type 2s steps(60, end); 
    z-index: 2
}

.heading-name:nth-child(2) {
    font-size: 24px;
    animation: type2 4s steps(60, end); 
}

.heading-description {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: lime;
    width: 80vw;
    padding: 0;
    margin: 20px auto;
    position: relative;
}

#heading .description {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    margin: 0
}

#heading .description:nth-child(1) {
    animation: type3 5s steps(60, end);
}

#heading .description:nth-child(2) {
    animation: type4 7s steps(60, end);
}

#heading .description:nth-child(3) {
    animation: type5 8.8s steps(60, end);
}

#heading .description:nth-child(4) {
    animation: type6 10s steps(60, end);
}

#heading .description:nth-child(5) {
    animation: type7 10.7s steps(60, end);
}

.cursor {
    display: inline-block;
    top: 2px;
    width: 6px;
    height: 13px;
    background: lime;
    animation: blink 0.3s infinite
}

@keyframes type { 
  from { width: 0; } 
} 

@keyframes type2 {
    0% { width: 0; }
    40% { width:0 }
    100% { width: 100; }  
}

@keyframes type3 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    100% { width: 100; }
}

@keyframes type4 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    60% { width: 0 }
    100% { width: 100; }  
}

@keyframes type5 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 }
    100% { width: 100; }  
}

@keyframes type6 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 }
    80% { width: 0 }
    100% { width: 100; }  
}

@keyframes type7 {
    0% { width: 0; }
    40% { width:0 }
    50% { width: 0; }
    60% { width: 0 }
    70% { width: 0 }
    80% { width: 0 }
    90% { width:0 }
    100%{ width: 100; }  
}

@keyframes blink {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


.heading-buttons {
    width: 80vw;
    margin: 0 auto;
}

.button {
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    border: 1px solid #FFF;
    font-size: 12px;
    color: #FFF;
    position: relative;
}

.red {
    background: #DC2F33;
    border: 1px solid #DC2F33;
    color: #FFF;
}

#about {
    width: 80vw;
    height: auto;
    background: #FFF;
    margin: 50px auto;
    z-index: 1;
    overflow: hidden
}

.about-description {
    height: auto;
}

.description {
    height: auto;
}

.profile-image {
    float: left;
    margin-right: 100px
}

.yosef {
    width: 200px;
}

.description-text {
    padding-top: 10px
}

#about .button {
    border: 1px solid #000;
    font-size: 12px;
    color: #000;
}

#portfolio {
    width: 100%;
    height: 40vh;
    background-image: url("/assets/code-2620118_1920.jpg");
    background-size: 100%;
    overflow: hidden; 
    position: relative
}

.portfolio-overlay {
    width: 100%;
    height: 40vh;
    position: absolute;
}

.portfolio-overlay:before {
    content: "";
    display: block;
    background: #0C1939;
    width: 100%;
    height: 40vh;
    opacity: 0.5;
    position: absolute;
}

.portfolio-skills span,
.services-info h4 span,
.social-overlay h4 span {
    height: 20px;
    width: 10px;
    margin: 0 5px;
    position: relative;
    top: 1px;
}

.portfolio-skills {
    width: 80vw;
    margin: 20px auto;
    color: #FFF;
    font-size: 4em;
    position: relative;
}

.portfolio-skills li {
    margin: 20px;
    display: inline;
}

.skill-list {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.slide {
    animation: slidedown 2s ease;
}

@keyframes slidedown {
    0% {opacity: 0; transform: translateY(-50px) }
    100% {opacity: 1; transform: translateY(0)}
}

#services {
    width: 100%;
    height: auto;
    background: #0C1939;
}

.services-info {
    width: 80vw;
    height: auto;
    margin: 0 auto;  
    padding: 20px 0;
}

.services-info li {
    width: 20vw;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.service-icon {
    font-size: 48px;
}

.services-list {
    text-align: center;
    padding: 0;
}

.service-title {
    color: #CC00FF;
    font-weight: bolder;
}

#social {
    height: 70vh;
    background-image: url("assets/technology-1283624_1920.jpg");
    background-size: cover
}

.social-overlay {
    height: 70vh;
    width: 100%;
    position: absolute; 
}

.social-overlay:before {
    content: "";
    display: block;
    height: 70vh;
    width: 100%;
    background: #0C1939;
    opacity: 0.7;
    position: absolute;
}

 .social-links {
    width: 80vw;
    margin: 20px auto 0;
    position: relative;
} 

.social-links li a {
    position: relative;
    color: #FFF;
}

.social-links li {
    font-size: 24px;
    margin-right: 10px;
    display: inline;
}

.social-list {
    padding: 0;
    text-align: center;
}

.author p {
    color: #FFF;
    text-align: center;
    position: relative;  
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 10em;
    background: #000;
    border-color: #000;
    color: lime;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
} 