@media only screen and (max-width : 1110px) {
  h1 {
    font-size: 4.5em;
  }

  .skill-description {
      font-size: 0.3em
    }


}

@media only screen and (max-width : 930px) {
  h1 {
    font-size: 4em;
  }

  .heading-name:nth-child(2) {
    font-size: 2.5em;
  }

  .skill-list {
  /*  display: flex;
    justify-content: center; */
    font-size: 1em
  }

  .skill-description {
    font-size: 15px
  }


  .profile-image {
    display: block;
    position: relative;
    float: none;
    width: 250px;
    margin: 0 auto;
  }

  .profile-image:before {
    width: 250px;
    height: 250px;
    left:
  }

  .yosef {
    width: 250px;
  }
}

@media only screen and (max-width : 820px) {
  h1 {
    font-size: 3.5em;
  }

  .heading-name:nth-child(2) {
    font-size: 2em;
  }


}

@media only screen and (max-width : 740px) {
  h1 {
    font-size: 3em;
  }

  .heading-name:nth-child(2) {
    font-size: 1.5em;
  }
}

@media only screen and (max-width : 660px) {
  .yop-wrapper {
    margin: 0 50px;
  }

  h1 {
    font-size: 2.5em;
  }

  .heading-name:nth-child(2) {
    font-size: 1.2em;
  }
}

@media only screen and (max-width : 500px) {

}

@media only screen and (max-width : 415px) {
/*  body {
    box-shadow: inset -2px -2px 65px -50px #3d86f1;
  } */

  .mobile {
    display: unset;
  }

  .navlist {
    display: none;
  }

  .mobile-button {
    cursor: pointer;
    z-index: 100
  }

  .mobile-btnOpen {
    font-size: 5em;
    position: absolute;
    right: -20px;
    top: 20px;
    height: 40px;
    color: #FFF;
    line-height: 0.5;
    transition: all .5s ease;
    cursor: pointer;
    transform: rotate(0deg);
    z-index: 150;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  .button-close {
    transform: rotate(45deg);
    transition: all .5s ease;
  }

  .nav1 {
      position: relative;
      height: 50px;
      top: 0;
      right: 0;
      float: right;
    /*  z-index: 100 */
  }

  .menu-wrap {
    position: fixed;
    left: 1000px;
    top: 50px;
    transition: all .5s ease;
    z-index: 100
  }

  .open-menu {
    left: 0;
    transition: all .5s ease;
  }

  #mobile-nav,
  #mobile-nav a {
    color: #FFF;
  }

  .menu-sidebar {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0C1939;
  font-size: 1.2em;
  transition: all .5s ease;
}

  .heading-name,
  .heading-description,
  .heading-description .description,
  .animated,
  .animated2,
  .animated3 {
    max-width: 310px;
  }

  #heading .description {
    font-size: 12px;
  }

  .heading-description {
    margin: 20px 0;
  }

  .heading-name h1 {
    font-size: 1.5em
  }

  .heading-description {
    font-size: 1em;
  }

  #about .button {
    display: block;
    margin: 50px auto;
  }

  .services-info li {
    padding: 20px 0;
  }

  .services-info li,
  .project-box {
    max-width: 275px
  }

  textarea {
    width: 100%;
  }

}
