@media only screen and (max-width : 1110px) {
  h1 {
    font-size: 4.5em;
  }

  .skill-description {
      font-size: 0.3em
    }


}

@media only screen and (max-width : 930px) {
  h1 {
    font-size: 4em;
  }

  .skill-list {
    display: flex;

  }


  .profile-image {
    display: block;
    position: relative;
    float: none;
    width: 250px;
    margin: 0 auto;
  }

  .profile-image:before {
    width: 250px;
    height: 250px;
    left:
  }

  .yosef {
    width: 250px;
  }
}

@media only screen and (max-width : 415px) {
  .yop-wrapper {
    margin: 0 50px;
  }

  #heading {
    padding: 150px 0;
  }
}
