@media only screen and (max-width : 1110px) {
  h1 {
    font-size: 4.5em;
  }

  .skill-description {
      font-size: 0.3em
    }


}

@media only screen and (max-width : 930px) {
  h1 {
    font-size: 4em;
  }

  .heading-name:nth-child(2) {
    font-size: 2.5em;
  }

  .skill-list {
    display: flex;

  }


  .profile-image {
    display: block;
    position: relative;
    float: none;
    width: 250px;
    margin: 0 auto;
  }

  .profile-image:before {
    width: 250px;
    height: 250px;
    left:
  }

  .yosef {
    width: 250px;
  }
}

@media only screen and (max-width : 820px) {
  h1 {
    font-size: 3.5em;
  }

  .heading-name:nth-child(2) {
    font-size: 2em;
  }

}

@media only screen and (max-width : 740px) {
  h1 {
    font-size: 3em;
  }

  .heading-name:nth-child(2) {
    font-size: 1.5em;
  }
}

@media only screen and (max-width : 660px) {
  .yop-wrapper {
    margin: 0 50px;
  }

  h1 {
    font-size: 2.5em;
  }

  .heading-name:nth-child(2) {
    font-size: 1.2em;
  }
}

@media only screen and (max-width : 500px) {

}

@media only screen and (max-width : 415px) {

  .heading-name,
  .heading-description,
  .heading-description .description,
  .animated,
  .animated2,
  .animated3 {
    max-width: 310px;
  }

  #about .button {
    display: block;
    margin: 50px auto;
  }

  .services-info li {
    padding: 20px 0;
  }

  .services-info li,
  .project-box {
    max-width: 275px
  }


  textarea {
    width: 100%;
  }

}
